body {
    background: rgb(48, 25, 94);
    display: flex;
    justify-content: center;
}
#photo{
    background-image: url("assets/Гордійчук.jpg");
    background-size: cover;
    width: 270px;
    height: 400px;
    border: 3px solid;
    border-color: black;
    border-radius: 5%;
    margin-right: 2vw;
}
#gugugaga{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.gugugaga{
    font-size: 20px;
    color: blueviolet;
    background-color: rgb(gray );
    height: 50px;
    width: 200px;
    border: 3px solid pink;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(247, 157, 157, 0.2), 0 6px 20px 0 rgba(230, 130, 130, 0.651);
    justify-content: center;
}
a:link {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(190, 121, 255);
    background-color: transparent;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
  }

