body {
    background: rgb(100,50,200);
    flex: box;
    flex-direction: column;
}
#photo{
    background-image: url("assets/Гордійчук.jpg");
    background-size: cover;
    width: 27vw;
    height: 40vw;
    border: 0.3vw solid;
    border-color: black;
    border-radius: 5%;
}
#gugugaga{

}
.gugugaga{
    font-size: 2vw;
}

